:root {
    --background: rgb(71, 71, 71);
    --header-background: rgb(255, 255, 255);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url('../assets/background.jpg');
}

header {
    background-color: rgb(43, 0, 0);
    text-align: center;
}

.title {
    color: rgb(255, 0, 0);
}


main {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.slayer-stats {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.kills {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    display: inline;
    text-align: center;
}

.kills span {
    font-size: larger;
    color:rgb(255, 0, 0);
}

.hunter {
    text-align: center;
}

.hunter h2 {
    background-color: rgb(255, 0, 0);
    align-items: center;
}

.amygdala-stats {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-class {
    display: flex;
    flex-direction: column;
}

label {
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    display: inline;
}

#input-div {
    display: flex;
    flex-direction: row;
}

.amygdala-stats input {
    font-size: 2rem;
    width: 80%;
}

.amygdala-stats button {
    font-size: 1em;
}

.amygdala {
    cursor: crosshair;
    border: solid 10px rgb(43, 0, 0);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(71, 71, 71);
    font-size: 3rem;
}

.amygdala p {
    padding-right: 30px;
    padding-left: 30px;
}